/* src/assets/styles/App.css */


@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&display=swap');


/* Ajoutez ici les styles globaux si nécessaire */
#app {
  background-color: #112030;
  height: 100vh;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}