.gif-selector-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gif-selector-container p {
    font-size: 24px;
    margin-bottom: 20px;
    color: #F0F154;
}

.custom-input {
  width: 800px;
  height: 50px;
  border-radius: 3px;
  background: #FFF;
  margin-bottom: 55px;
  position: relative;
  z-index: 1;
  border: none;
  box-sizing: border-box;
  padding-left: 16px;
}

.custom-input:focus {
  outline: none;
  border: 2px solid #F080DE;
  box-shadow: 0px 0px 10px 0px #F080DE;
}

.custom-input input::placeholder, .custom-input input {
  color: #000;
  font-family: "IBM Plex Mono";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  padding: 10px;
}

.gifs-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  max-width: 800px;
  margin-bottom: 20px;
}

.gif-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.gif-item.selected {
  border: 5px solid #F080DE;
  box-shadow: 0px 0px 10px 0px #F080DE;
}

.gif-image {
  max-width: 100%;
  max-height: 100px;
  object-fit: cover;
}

.validate-button {
  background: linear-gradient(45deg, #ff0080, #ff8c00);
  border: none;
  border-radius: 20px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.validate-button:hover {
  background: linear-gradient(45deg, #ff8c00, #ff0080);
}
