.header {
  height: 30vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

.info > div:first-of-type {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.pageTitle {
  color: pink;
  font-size: 38px;
  margin: 0;
}

.timer {
  font-size: 24px;
  margin-bottom: 50px;
  color: #F4FE84!important; 

}

.star {
  height: 41px;
  width: 41px;
}

.app-logo {
  position: fixed; 
  top: 0px;
  left: 10px;
  width: 20%;
  height: auto; 
  z-index: 1000; 
}